.country-content{
    width: 100%;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    text-align: center;
  }
  
  #flag-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #flag{
    width: 20%;
  }

.hover-box {
  max-width: 125px;
  max-height: 100px;
  background:#242424;
  z-index: 1;
  overflow-y: scroll;
  position: absolute;
  margin-inline-end: 20px;
  border-radius: 10px;
  border: 4px solid #682566;
 }

.name-region{
  display: flex;
}

#name{
display: flex;
}

#region{
align-items: center;
justify-content: center;
}

.more-info{
  width: 95% ;
  display: flex;
  flex-direction: column;
  border: 2px solid #682566;
}

.entry {
  width: 100%;
  overflow-y: scroll;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  text-align: center;
  border-bottom: 2px solid #682566;
  overflow:hidden;
}

.info-top {background-color: #682566;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size:x-large;
}

.info-bottom {
 display:flex;
 flex-grow: 1;
 flex-direction: column;
 word-break:break-all;
 align-items: center;
 justify-content: center;
 width: 100%;
 overflow:hidden;
 background-color: #242424;
 color: #757575;
}

.info-bottom img{
  max-width: 50px; 
  max-height: 50px; 
}

.generate{
  overflow:hidden;
  width: 100%;
}

