:root {
  --color: #ffffff;
  --background-color: #242424;
  
}
input,button,div,p{
  font-family: Arial, Helvetica, sans-serif;
  &::-webkit-scrollbar {
    width: 10px; 
  }
  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px; 
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
  }
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
body,input{
  color: var(--color);
  background-color: var(--background-color);
}

button {
  background-color: #dd4bd8; 
  color: #ffffff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border:hidden
}
.button-content {
  text-align: center;
}
.container{
  overflow: hidden; 
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.glow{
  transition: transform 0.3s, box-shadow 0.3s;
}

.glow:hover {
  box-shadow: 0 0 7px #682566; 
}

.logo-container{
  margin-top:2.5%;
  width: 60vw;
  margin-bottom: 4%;
}

#logoA{
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-logo{
 width: 50vh;
}

.page-logo:hover {
  filter: drop-shadow(0 0 2em #682566);
}

.search-container {
  width: 80vh;
  display: flex;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; 
  overflow: hidden; 
  border: 2px solid #682566; 
  margin-bottom: 2.5%;
}

.search-input {
  padding: 10px; 
  border: none;
  outline: none; 
  width: 95%; 
 
}

.search-button { 
  flex-grow: 1;
  height: 100%;
  padding: 10px 20px; 
  border: none;
  cursor: pointer;
  outline: none; 
  transition: background-color 0.5s ease;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.box{
  width: 100%;
  height: 100%;
 
  transition: height 0.2s ease; 
}
.shrunk {
  height: 0; 
  transition: height 0.5s ease; 
}
.country-container{
  width: 80vh;
  
  height: 60vh;
  
}

#name{
  display: flex;
  flex: row;

}
button:hover {
  background-color: #682566; 
}

#imageElement {
  src: url('light-mode-image.jpg');
}

.loading-wheel {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (prefers-color-scheme: light) {
  :root {
    --color: #242424;
    --background-color: #ffffff;

  }
 
}

